* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
}

:root {
  --color-main: #dee4e8;
  --color-main-nd: #08090a;
  --color-blue: #4f7fa2;
  --color-green: #46b09c;
  --color-red: #ba0c3d;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-main);
}

::-webkit-scrollbar-thumb {
  background: var(--color-main-nd);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-main);
}

nav,
.convert-area,
.explain-area {
  padding: 0 200px;
}

nav {
  align-items: center;
  background: var(--color-main-nd);
  color: var(--color-main);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.lab {
  /* color: var(--color-main);*/
  padding: 10px 0;
  height: 50px;
}

.logo {
  background: var(--color-main);
  color: var(--color-main-nd);
  font-size: 1.5em;
  padding: 15px;
}

.convert-area,
.form-area {
  display: flex;
  flex-direction: column;
}

.convert-area {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
}

.title {
  font-size: 2em;
  margin-bottom: 30px;
}

.info-convert {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.form-area {
  max-width: 700px;
  width: 100%;
}

.input-value {
  border: none;
  color: var(--color-main-nd);
  font-size: 1.5em;
  padding: 20px;
  transition: all linear 300ms;
  width: 100%;
}

.input-value::placeholder {
  color: var(--color-main-nd);
}

.input-value:first-child {
  border-radius: 15px 15px 0 0;
}

.input-value:focus {
  background: var(--color-main-nd);
  color: var(--color-main);
}

.input-value:focus::placeholder {
  color: var(--color-main);
}

.btn {
  background: var(--color-green);
  border: 0;
  color: var(--color-main);
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px 10px;
  text-transform: uppercase;
}

.btn:active {
  filter: brightness(0.8);
}

.buttons {
  display: flex;
}

.buttons .btn {
  flex-grow: 1;
}

.btn-reset {
  background: var(--color-red);
  border-radius: 0 0 0 15px;
}

.btn-convert {
  border-radius: 0 0 15px 0;
}

.explain-area {
  background: var(--color-main-nd);
  color: var(--color-main);
  padding-top: 25px;
  padding-bottom: 25px;
}

.content-explain {
  padding: 25px 0;
}

.title-explain {
  font-size: 1.4em;
  margin: 0 0 20px 0;
}

.text-explain p {
  font-size: 1.2em;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.img-explain {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

footer {
  background: var(--color-main);
  color: var(--color-main-nd);
  text-align: center;
  padding: 50px 0;
}

footer p {
  font-size: 1.3em;
  font-weight: 500;
  line-height: 30px;
}

footer p img {
  padding-bottom: 20px;
  width: 100px;
}

footer p a {
  color: var(--color-blue);
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 800px) {
  nav,
  .convert-area {
    padding: 0 50px;
  }

  .explain-area {
    padding: 25px 50px;
  }
}

@media (max-width: 500px) {
  nav,
  .convert-area {
    padding: 0 15px;
  }

  .explain-area {
    padding: 25px 15px;
  }

  .title {
    font-size: 1.7em;
  }

  .info-convert {
    font-size: 1.1em;
  }

  .buttons {
    flex-direction: column-reverse;
  }

  .btn-reset {
    border-radius: 0 0 15px 15px;
  }

  .btn-convert {
    border-radius: 0;
  }
}
